body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(193, 193, 193);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.whole-thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#todo-title, #date-picker {
    height: 25px;
}

#todo-title {
    flex: 2;
}
#date-picker {
    padding: 1px 2px;
    flex: 1;
}
#addtodobutton {
    flex: 1;
    height: 31px;
    background-color: rgb(71, 142, 71);
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}
#addtodobutton:hover {
    background-color: rgb(71, 160, 45);
}
#todo-list, .adder {
    width: 500px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    padding: 20px;
}
#todo-list:hover, .adder:hover {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.711);
}
.adder {
    display: flex;
    column-gap: 5px;
    
}
#todo-list {
    display: flex;
    flex-direction: column;
}

.todoline {
    margin: 7px 0px;
}

.delbuttonclass {

    background-color: rgb(213, 43, 43);
    width: 100px;
    float: right;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}
.delbuttonclass:hover{
    background-color: rgb(241, 43, 43);
}